* {
  margin: 0;
  padding: 0;
}
body,
html {
  font-family: "Mona Sans", sans-serif !important;
  line-height: 1.4;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
  background: none !important;
}
.uk-navbar-left {
  gap: 10px;
}
.uk-navbar-left a {
  color: #444ce7;
  font-weight: 700;
}
.uk-navbar-left a:hover {
  color: #444ce7;
}
.category {
  margin: 20px auto;
  width: 100%;
}
.category__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category > div {
  border-radius: 10px;
}
.category__description {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.category__description h1 {
  color: #444ce7;
  font-weight: 700;
  margin-bottom: 10px;
}
.category__description p {
  color: #4a4f63;
  margin: 10px 0;
}
.category__option {
  padding: 10px 20px;
}
.category__option .uk-card {
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}
.category__option .uk-card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #444ce7;
}
.category__option .uk-card p {
  font-size: 14px;
  margin-top: 10px;
}
.uk-heading-small {
  color: #444ce7;
  font-weight: 700;
  font-size: 23px;
}
.uk-navbar-nav .uk-active {
  font-weight: bold;
}
.uk-navbar-nav > li.uk-active > a {
  color: #444ce7 !important;
}
